<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Properties>
        <Property name="pattern">%d{dd/MM/yyyy HH:mm:ss,SSS EEEE} %p [%-20c{1}] %m%n</Property>
        <!--<Property name="filePath">${sys:user.home}</Property>-->
    </Properties>
    <Appenders>
        <RollingFile
            name="RollingFile"
            fileOwner="root"
            fileName="/home/jotajota/Desktop/SgdmLogs/meuLog.log"
            filePattern="/home/jotajota/Desktop/SgdmLogs/meuLog-%d{dd-MM-yyyy-HH:mm:ss}-%i.log">
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <!--Tamanho maximo do ficheiro de logs-->
                <SizeBasedTriggeringPolicy size="250 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20"/>
            <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
        </RollingFile>

        <Console name="Console">
            <PatternLayout pattern="${pattern}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name="org.hibernate" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
    </Loggers>

</Configuration>
